version: '3.8'

services:
  gateway-service:
    build:
      context: ./Gateway              # 프로젝트 최상위 루트를 컨텍스트로 지정
      dockerfile: Dockerfile
    container_name: gateway-app
    ports:
      - "8080:8080"           # 호스트:컨테이너 포트 매핑
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - SERVER_PORT=8080      # 필요 시 포트 명시
    networks:
      - msa-network

  discovery-service:
    build:
      context: ./Discovery              # 프로젝트 최상위 루트를 컨텍스트로 지정
      dockerfile: Dockerfile
    container_name: discovery-app
    ports:
      - "8081:8080"           # 호스트:컨테이너 포트 매핑
    environment:
      - SPRING_PROFILES_ACTIVE=prod
    networks:
      - msa-network


  costomerservice-service:
    build:
      context: ./CostomerService              # 프로젝트 최상위 루트를 컨텍스트로 지정
      dockerfile: Dockerfile
    container_name: costomerservice-app
    ports:
      - "8082:8080"           # 호스트:컨테이너 포트 매핑
    environment:
      - SPRING_PROFILES_ACTIVE=prod
    networks:
      - msa-network


  order-service:
    build:
      context: ./Order              # 프로젝트 최상위 루트를 컨텍스트로 지정
      dockerfile: Dockerfile
    container_name: order-app
    ports:
      - "8083:8080"           # 호스트:컨테이너 포트 매핑
    environment:
      - SPRING_PROFILES_ACTIVE=prod
    networks:
      - msa-network



  product-service:
    build:
      context: ./Product              # 프로젝트 최상위 루트를 컨텍스트로 지정
      dockerfile: Dockerfile
    container_name: product-app
    ports:
      - "8084:8080"           # 호스트:컨테이너 포트 매핑
    environment:
      - SPRING_PROFILES_ACTIVE=prod
    networks:
      - msa-network

  user-service:
    build:
      context: ./User              # 프로젝트 최상위 루트를 컨텍스트로 지정
      dockerfile: Dockerfile
    container_name: user-app
    ports:
      - "8085:8080"           # 호스트:컨테이너 포트 매핑
    environment:
      - SPRING_PROFILES_ACTIVE=prod
    networks:
      - msa-network

networks:
  msa-network:
    driver: bridge