version: '3.8'

services:
  gateway-service:
    env_file:
      - .env
  
    build:
      context: ./Gateway
      dockerfile: Dockerfile
    image: gateway-service:dev
    container_name: gateway-app
    ports:
      - "8080:8080"
    environment:
      - SERVER_PORT=8080    
    networks:
      - msa-network


  customerservice-service:
    env_file:
      - .env
    build:
      context: ./CostomerService      
      dockerfile: Dockerfile
    image:  customerservice-service:dev
    container_name: customerservice-app
    ports:
      - "8082:8080"       
    networks:
      - msa-network


  order-service:
    env_file:
      - .env
    build:
      context: ./Order              
      dockerfile: Dockerfile
    image:  order-service:dev
    container_name: order-app
    ports:
      - "8083:8080"         
    networks:
      - msa-network



  product-service:
    env_file:
      - .env
    build:
      context: ./Product            
      dockerfile: Dockerfile
    image:  product-service:dev
    container_name: product-app
    ports:
      - "8084:8080"        
    networks:
      - msa-network

  user-service:
    env_file:
        - .env
    build:
      context: ./User            
      dockerfile: Dockerfile
    image:  user-service:dev
    container_name: user-app
    ports:
      - "8085:8080" 
    networks:
      - msa-network

networks:
  msa-network:
    driver: bridge