apiVersion: apps/v1
 
kind: Deployment

metadata:
  name: gateway-service
  namespace: msa-project
  labels:
    app: gateway-service

spec:

  selector:
    matchLabels:
      app: gateway-service

  replicas: 1

  template:
    
    metadata:
      labels:
        app: gateway-service

    spec:
      containers:
        - name: gateway-service
          image: lujol/gateway-service:v2
          # image tag에 버전을 명시하는것이 아닌, latest를 사용하면 필요한 옵션 
          # Always : pod가 시작될 때 항상 dokerhub에 진입해서 이미지 해시값을 획인한다고 함 
          # imagePullPolicy: Always

          env:
            - name: ACCESS
              valueFrom:
                secretKeyRef:
                  name: jwt-secret
                  key: ACCESS
            
            - name: ZIPKIN_ENDPOINT
              valueFrom:
                secretKeyRef:
                  name: zipkin-secret
                  key: ZIPKIN_ENDPOINT
          ports:
            - containerPort: 8080






