name: infra

services:
  zipkin:
    image: openzipkin/zipkin
    container_name: zipkin
    ports:
      - "9411:9411"

  redis:
    image: redis:latest
    container_name: redis_boot
    ports:
      - "6379:6379"
