apiVersion: apps/v1
 
kind: Deployment

metadata:
  name: user-service
  labels:
    app: user-service

spec:

  selector:
    matchLabels:
      app: user-service

  replicas: 1

  template:
    
    metadata:
      labels:
        app: user-service

    spec:
      containers:
        - name: user-service
          image: lujol/user-service:v2
          # image tag에 버전을 명시하는것이 아닌, latest를 사용하면 필요한 옵션 
          # Always : pod가 시작될 때 항상 dockerhub에 진입해서 이미지 해시값을 획인한다고 함 
          # imagePullPolicy: Always

          env:
            - name: JDBC_URL
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: JDBC_URL
            
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: DB_USER
            
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: DB_PASSWORD

            - name: REDIS_ENDPOINT
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: REDIS_ENDPOINT 

            - name: REDIS_PORT
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: REDIS_PORT 

            - name: ZIPKIN_ENDPOINT
              valueFrom:
                secretKeyRef:
                  name: zipkin-secret
                  key: ZIPKIN_ENDPOINT

            - name: MANAGEMENT_ZIPKIN_TRACING_ENDPOINT
              valueFrom: 
                secretKeyRef:
                  name: zipkin-secret
                  key: ZIPKIN_ENDPOINT 

            - name: MAIL_HOST
              valueFrom:
                secretKeyRef:
                  name: mail-secret
                  key: MAIL_HOST
            
            - name: MAIL_PORT
              valueFrom:
                secretKeyRef:
                  name: mail-secret
                  key: MAIL_PORT
            
            - name: MAIL_SERVICE_NAME
              valueFrom:
                secretKeyRef:
                  name: mail-secret
                  key: MAIL_SERVICE_NAME

            - name: MAIL_USERNAME
              valueFrom:
                secretKeyRef:
                  name: mail-secret
                  key: MAIL_USERNAME

            - name: MAIL_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mail-secret
                  key: MAIL_PASSWORD 
            
            - name: AES256
              valueFrom:
                secretKeyRef:
                  name: jwt-secret
                  key: AES256 

            - name: ACCESS
              valueFrom:
                secretKeyRef:
                  name: jwt-secret
                  key: ACCESS 

            - name: REFRESH
              valueFrom:
                secretKeyRef:
                  name: jwt-secret
                  key: REFRESH 

            - name: GOOGLE_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: oauth-secret
                  key: GOOGLE_CLIENT_ID 

            - name: GOOGLE_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: oauth-secret
                  key: GOOGLE_CLIENT_SECRET 

            - name: NAVER_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: oauth-secret
                  key: NAVER_CLIENT_ID 

            - name: NAVER_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: oauth-secret
                  key: NAVER_CLIENT_SECRET

            - name: KAKAO_CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: oauth-secret
                  key: REFREKAKAO_CLIENT_IDSH 

            - name: KAKAO_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: oauth-secret
                  key: KAKAO_CLIENT_SECRET 
                             

          ports:
            - containerPort: 8080






