
spring:

  application:
    name: Order

  profiles:
    active: test

  jpa:
    show-sql: true

    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl

    properties:
      hibernate:
        format_sql: true
        highlight_sql: true
        use_sql_comments: true