spring:

  datasource:
    url: jdbc:h2:mem:db-test
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  kafka:
    bootstrap-servers: localhost:9092
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

custom:

  data:
    redis:
      host: localhost
      port: 6379

  order:
    temp-mode: false
  payments:
    toss:
      confirm-url: https://api.tosspayments.com/v1/payments/confirm
      cancel-url: https://api.tosspayments.com/v1/payments/{paymentKey}/cancel
      secrets: test_gsk_docs_OaPz8L5KdmQXkzRz3y47BMw6

