server:
  port: 8000

spring:
  application:
    name: Gateway

  cloud:
    gateway:
      routes:
        - id: User
          uri: lb://USER
          predicates:
            - Path=/users/**

        - id: Auth
          uri: lb://AUTH
          predicates:
            - Path=/auth/**

        - id: Admin
          uri: lb://ADMIN
          predicates:
            - Path=/admin/**

        - id: Seller
          uri: lb://SELLER
          predicates:
            - Path=/seller/**

        - id: Products
          uri: lb://PRODUCTS
          predicates:
            - Path=/products/**

        - id: Cart
          uri: lb://CART
          predicates:
            - Path=/cart/**

        - id: Payment
          uri: lb://PAYMENT
          predicates:
            - Path=/payment/**

        - id: Orders
          uri: lb://ORDERS
          predicates:
            - Path=/orders/**
