
server:
  port: 8080

spring:
  application:
    name: gateway-service

  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: seller-PRODUCT
              uri: http://product-service:8080
              predicates:
                - Path=/seller/products/**
              filters:
                - TokenAuthenticationFilter

            - id: seller-User
              uri: http://user-service:8080
              predicates:
                - Path=/seller/users/**
              filters:
                - TokenAuthenticationFilter

            - id: admin-User
              uri: http://user-service:8080
              predicates:
                - Path=/admin/users/**
              filters:
                - TokenAuthenticationFilter

            - id: admin-PRODUCT
              uri: http://product-service:8080
              predicates:
                - Path=/admin/products/**
              filters:
                - TokenAuthenticationFilter

            - id: admin-inquiries
              uri: http://customerservice-service:8080
              predicates:
                - Path=/admin/inquiries/**
              filters:
                - TokenAuthenticationFilter

            - id: admin-notice
              uri: http://customerservice-service:8080
              predicates:
                - Path=/admin/notice/**
              filters:
                - TokenAuthenticationFilter

            - id: admin-block
              uri: http://customerservice-service:8080
              predicates:
                - Path=/admin/block
              filters:
                - TokenAuthenticationFilter

            - id: auth-logout
              uri: http://user-service:8080
              predicates:
                - Path=/auth/logout
              filters:
                - TokenAuthenticationFilter

            - id: auth
              uri: http://user-service:8080
              predicates:
                - Path=/auth/role
              filters:
                - TokenAuthenticationFilter

            - id: auth
              uri: http://user-service:8080
              predicates:
                - Path=/auth/**

            - id: users
              uri: http://user-service:8080
              predicates:
                - Path=/users/**
              filters:
                - TokenAuthenticationFilter

            - id: products-Check
              uri: http://product-service:8080
              predicates:
                - Path=/products/**
                - Method=POST, PUT, DELETE
              filters:
                - TokenAuthenticationFilter

            - id: products
              uri: http://product-service:8080
              predicates:
                - Path=/products/**
                - Method=GET

            - id: cart
              uri: http://order-service:8080
              predicates:
                - Path=/cart/**
              filters:
                - TokenAuthenticationFilter

            - id: payments
              uri: http://order-service:8080
              predicates:
                - Path=/payments/**
              filters:
                - TokenAuthenticationFilter

            - id: orders
              uri: http://order-service:8080
              predicates:
                - Path=/orders/**
              filters:
                - TokenAuthenticationFilter

            - id: notice
              uri: http://customerservice-service:8080
              predicates:
                - Path=/notice/**
              filters:
                - TokenAuthenticationFilter

            - id: inquiries-me
              uri: http://customerservice-service:8080
              predicates:
                - Path=/inquiry/me
              filters:
                - TokenAuthenticationFilter

            - id: inquiries-Check
              uri: http://customerservice-service:8080
              predicates:
                - Path=/inquiry/**
                - Method=POST, PUT, DELETE
              filters:
                - TokenAuthenticationFilter

            - id: inquiries
              uri: http://customerservice-service:8080
              predicates:
                - Path=/inquiry/**
                - Method=GET
              filters:
                - TokenAuthenticationFilter

            - id: seller-product-qna
              uri: http://customerservice-service:8080
              predicates:
                - Path=/seller/product_qna/**
              filters:
                - TokenAuthenticationFilter

            - id: product-qna-me
              uri: http://customerservice-service:8080
              predicates:
                - Path=/qna/products/me
                - Method=GET
              filters:
                - TokenAuthenticationFilter


            - id: product-qna-detail
              uri: http://customerservice-service:8080
              predicates:
                - Path=/qna/products/*/* - Method=GET
              filters:
                - TokenAuthenticationFilter


            - id: product-qna-write
              uri: http://customerservice-service:8080
              predicates:
                - Path=/qna/products/**
                - Method=POST, PUT, DELETE
              filters:
                - TokenAuthenticationFilter


            - id: product-qna-list
              uri: http://customerservice-service:8080
              predicates:
                - Path=/qna/products/*
                - Method=GET
                  

springdoc:
  api-docs:
    enabled: true
    path: /v3/api-docs

  swagger-ui:
    enabled: true
    path: /api/docs

management:
  tracing:
    sampling:
      probability: 1.0
    propagation:
      consume: b3
      produce: b3_multi

  zipkin:
    enabled: true
    endpoint: ${ZIPKIN_ENDPOINT}

custom:
  security:
    jwt:
      access:
        secret: ${ACCESS}


