apiVersion: apps/v1
 
kind: Deployment

metadata:
  name: order-service
  namespace: msa-project
  labels:
    app: order-service

spec:

  selector:
    matchLabels:
      app: order-service

  replicas: 1

  template:
    
    metadata:
      labels:
        app: order-service

    spec:
      containers:
        - name: order-service
          image: lujol/order-service:v1
          # image tag에 버전을 명시하는것이 아닌, latest를 사용하면 필요한 옵션 
          # Always : pod가 시작될 때 항상 dokerhub에 진입해서 이미지 해시값을 획인한다고 함 
          # imagePullPolicy: Always
          ports:
            - containerPort: 8080






