apiVersion: apps/v1
 
kind: Deployment

metadata:
  name: customerservice-service
  namespace: msa-project
  labels:
    app: customerservice-service

spec:

  selector:
    matchLabels:
      app: customerservice-service

  replicas: 1

  template:
    
    metadata:
      labels:
        app: customerservice-service

    spec:
      containers:
        - name: customerservice-service
          image: lujol/customerservice-service:v1
          # image tag에 버전을 명시하는것이 아닌, latest를 사용하면 필요한 옵션 
          # Always : pod가 시작될 때 항상 dokerhub에 진입해서 이미지 해시값을 획인한다고 함 
          # imagePullPolicy: Always

          # 임시 
          env:
          - name: SPRING_DATASOURCE_URL  
            valueFrom:
              secretKeyRef:
                name: db-secret
                key: JDBC_URL            
          
          - name: SPRING_DATASOURCE_USERNAME
            valueFrom:
              secretKeyRef:
                name: db-secret
                key: DB_USER 
            
          - name: SPRING_DATASOURCE_PASSWORD
            valueFrom: 
              secretKeyRef:
                name: db-secret
                key: DB_PASSWORD 

          ports:
            - containerPort: 8080






