apiVersion: v1

kind: ConfigMap

metadata:
  name: logstash-configmap

data:
  logstash.conf: |

    input {
      # jdbc 플러그인 → DB 연동 관련
    jdbc {
        jdbc_validate_connection => true
        jdbc_driver_library => "/usr/share/logstash/logstash-core/lib/jars/mariadb-java-client-3.5.7.jar"
        jdbc_driver_class => "org.mariadb.jdbc.Driver"
        jdbc_connection_string => "${JDBC_URL}"
        jdbc_user => "${DB_USER}"
        jdbc_password => "${DB_PASSWORD}"
        sql_log_level => "debug"
        use_column_value => true
        tracking_column => "unix_ts_tracking"
        tracking_column_type => "numeric"
        schedule => "*/1 * * * *"	
        # 커넥션 풀 검증
        jdbc_validate_connection => true
        # 풀 타임아웃
        jdbc_pool_timeout => 1200

        # (참고) JDBC 페이징
        # 한 번에 많은 데이터를 가져올 때 필요
        # jdbc_paging_enabled => true
        # jdbc_page_size => 100000

        statement => 
        "SELECT
            Products.Products_IDX,
            Products.Seller_IDX,
            Products.Products_Code,
            Products.Products_Name,
            Products.Price,
            Products.Sale_Price,
            Products.Status,
            Products.View_Count,
            Products.Del,

            Products.Updated_at,           -- :sql_last_value 추적을 위함
                UNIX_TIMESTAMP(Products.Updated_at) AS unix_ts_tracking,    -- last value 추적용 임시 데이터
                :sql_last_value AS last_tracking_value
                
            FROM GutJJeu.Products as Products

            WHERE 
                UNIX_TIMESTAMP(Products.Updated_at) > :sql_last_value
        
            ORDER BY
                unix_ts_tracking ASC"

            last_run_metadata_path => "/usr/share/logstash/data/last-value-1.yml"

        }
    }
    filter{
        # 임시 변수 제거
        mutate {  
            remove_field => ["@version","unix_ts_tracking", "last_tracking_value"]
        }
        mutate{
            convert =>{
                # 타입 지정
                "price"        => "float"
                "sale_price"   => "float"
                
                "products_name" => "string"
                "status"        => "string"
            }
        }
        # 날짜 형식 변환 (문자열 -> 날짜 객체)
        date {
            match => [ "updated_at", "ISO8601", "yyyy-MM-dd'T'HH:mm:ss.SSS'Z'" ]
            target => "updated_at"
        }
    }
    output{
        elasticsearch{
            hosts => ["${ELASTIC_URL}"]
            # 개발 단계의 인증서 인증 x, 배포 시 인증 해야함.
            ssl_verification_mode => none
            index => "products-index"   
            document_id => "%{products_idx}"

        }
        # 디버그용
        stdout {
            codec => line {
                format => "[데이터 저장 성공] ID: %{products_idx}, 상품명: %{products_name}"
            }

        }
    }