apiVersion: apps/v1

kind: Deployment

metadata:
  name: logstash

spec:

  replicas: 1

  selector:
    matchLabels:
      app: logstash

  template:

    metadata:
      labels:
        app: logstash

    spec:
      containers:
        - name: logstash
          image: lujol/logstash:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 5044
          
          env:
            - name: JDBC_URL
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: JDBC_URL
            
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: DB_USER
            
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: DB_PASSWORD
            
            - name: ELASTIC_URL
              valueFrom: 
                secretKeyRef: 
                  name: db-secret
                  key: ELASTIC_URL

          volumeMounts:
            - name: pipeline-config-volume
              mountPath: /usr/share/logstash/pipeline/logstash-products.conf
              subPath: logstash-products.conf

            - name: pipeline-config-volume
              mountPath: /usr/share/logstash/config/pipelines.yml
              subPath: pipelines.yml

      volumes:
        - name: pipeline-config-volume
          configMap: 
            name: ls-pipeline-configmap

