<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>Success</h2>
    <div id="info"></div>
    <script>

        process();

        async function process() {

            const searchParams = new URLSearchParams(window.location.search);

            const orderCode = searchParams.get('orderId');
            const paymentKey = searchParams.get('paymentKey');
            const amount = searchParams.get('amount');

            document.getElementById('info').innerHTML =
                '<p><b>orderId:</b> ' + orderCode + '</p>' +
                '<p><b>paymentKey:</b> ' + paymentKey + '</p>' +
                '<p><b>amount:</b> ' + amount + '</p>';

            await fetch('/payments/process', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-User-Idx': '1'
                },
                body: JSON.stringify({
                    orderCode,
                    paymentType: 'TOSS_PAY',
                    paymentKey,
                    amount: Number(amount)
                })
            }).then(response => response.json())
                .then(data => {
                    console.log('결제 승인 완료:', data);
                    document.body.innerHTML += '<p>결제 승인 완료: ' + JSON.stringify(data) + '</p>';
                })
                .catch(error => {
                    console.error('결제 승인 실패:', error);
                    document.body.innerHTML += '<p>결제 승인 실패: ' + error + '</p>';
                })


        }

    </script>
</body>
</html>