apiVersion: apps/v1
 
kind: Deployment

metadata:
  name: discovery-service
  namespace: msa-project
  labels:
    app: discovery-service

spec:

  selector:
    matchLabels:
      app: discovery-service

  replicas: 1

  template:
    
    metadata:
      labels:
        app: discovery-service

    spec:
      containers:
        - name: discovery-service
          image: lujol/discovery-service:v1
          ports:
            - containerPort: 8761






