name: CI 스크립트 실행

on:
  workflow_call:
    inputs:
      service-name:
        required: true
        type: string

jobs:
  code-test:
    name: 코드 테스트
    runs-on: ubuntu-latest

    steps:
      - name: 브랜치로 체크아웃
        uses: actions/checkout@v5

      - name: JDK 세팅
        uses: actions/setup-java@v5
        with:
          java-version: "21"
          distribution: "temurin"

      - name: gradlew 권한 세팅
        run: chmod +x ./${{ inputs.service-name }}/gradlew

      - name: 테스트 실행
        working-directory: ./${{ inputs.service-name }}
        run: ./gradlew test --no-daemon
